.quotation-page {
  padding: 20px;
  background: #f9f9f9;
    font-family: Arial, sans-serif;

}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.quotation-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.quotation-table th,
.quotation-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.quotation-table th {
  background-color: #0e4c35;
  color: #ffffff;
  font-weight: 600;
}

.quotation-thumbnail {
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
}
.quotation-img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.view-pdf-button {
  background-color: #0e4c35;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.view-pdf-button:hover {
  background-color: #388e3c;
}

.quotation-page input {
  padding: 8px;
  margin: 5px 10px 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
